.card {
  width: 600px;
  padding: 10px 20px;
  min-height: 156px;
}

.card:hover {
  cursor: pointer;
  box-shadow: 1px 4px 15px 0px rgba(34, 60, 80, 0.2);
}

.rating {
  color: rgb(117, 117, 117);
}

.date {
  text-align: end;
  color: rgb(117, 117, 117);
}
